{% extends 'base.html.twig' %}

{% block body %}
<h1><span>Welcome to vue</span></h1>
{% verbatim %}
<div id="app"> hello
    <router-view></router-view>
</div>
{% endverbatim %}
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
